doctype html
html(ng-app="Folio")
    head
        title= 'Folio - ' + title
        link(rel="shortcut icon", href="/favicon.ico")
        link(href="https://fonts.googleapis.com/css?family=Volkhov:700italic", rel="stylesheet", type="text/css")
        link(href="/javascripts/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/javascripts/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/bootstrap-social.css")
        link(rel="stylesheet", href="/stylesheets/login.css")

        script(type="text/javascript", src="https://connect.facebook.net/en_US/sdk.js")
        script(type="text/javascript", src="/javascripts/builds/bundle.js")
    body(ng-controller="LoginCtrl")
        .row
            .col-md-4
                input(type='hidden', id='appId', name='appId', value=config.appId)
                h1 Folio
                p Smart management of Facebook pages.
        .row
            .col-sm-3(ng-click="login()")
                div(class="btn btn-block btn-social btn-lg btn-facebook fb-button")
                    span(class="fa fa-facebook")
                    | Continue with Facebook
