extends layout

block content      
  h1 Folio
  p Smart management of Facebook pages.
  div(class='fb-login-button'
      data-size='large'
      data-scope='manage_pages,public_profile,publish_pages'
      onlogin="folioFbLogin.checkLoginState()").
    Continue with Facebook
