extends layout

block content
  h1 Folio
  p Smart management of Facebook pages.
  div(class='fb-login-button'
      data-size='large'
      data-scope='manage_pages,public_profile,publish_pages'
      onlogin="folioFbLogin.checkLoginState()").
    Continue with Facebook
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : settings.env === 'development' ? '858911334219612' : '858854500891962',
        xfbml      : true,
        version    : 'v2.5'
      });

      FB.getLoginStatus(function(response) {
        folioFbLogin.statusChangeCallback(response);
      });
    };
