<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Posts</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-star"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Reviews</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-thumbs-up"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Likes</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-share-alt"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Shares</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
