<div class="row" ng-controller="InsightsCtrl">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Post Insights

                <select ng-model="filterInsightsBy">
                    <option value="day">Daily</option>
                    <option value="week">Week</option>
                    <option value="days_28">28 days</option>
                    <option value="lifetime">Lifetime</option>
                </select>
            </div>
            <div ng-show="!insights">
                <rd-loading></rd-loading>
            </div>
            <div class="panel-body" ng-show="insights">
                <div class="row" style="padding-top: 5px;margin-bottom: 5px;border-bottom: 1px lightgrey solid" ng-repeat="insight in insights.data | filter: { period: filterInsightsBy } : true track by $index">
                    <div class="col-xs-6">{{insight.description}}</div>
                    <div class="col-xs-6" ng-if="insight.keys.length">
                        <canvas ng-if="insight.objValues" id="pie" class="chart chart-pie"
                                chart-data="insight.objValues"
                                chart-labels="insight.keys">
                        </canvas>
                    </div>
                    <div class="col-xs-6" ng-if="insight.values[insight.values.length - 1].value | isEmpty">0</div>
                    <div class="col-xs-6" ng-if="insight.values[insight.values.length - 1].value | isNumber">{{insight.values[insight.values.length - 1].value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>