<div ng-controller="PageDetailCtrl">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body ng-click="newPost()" class="clickable">
					<div class="widget-icon green pull-left">
						<i class="fa fa-file-text"></i>
					</div>
					<div class="title">Create</div>
					<div class="comment">New Post</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body ng-click="settings()" class="clickable">
					<div class="widget-icon red pull-left">
						<i class="fa fa-cogs"></i>
					</div>
					<div class="title">Settings</div>
					<div class="comment">Page Details</div>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<i class="fa fa-send"></i>
					<span class="large" ng-if="!tpLoading">{{totalPosts}}</span>
					<span class="fa fa-cog fa-spin" ng-if="tpLoading" title="loading..."></span>
					<span class="comment"> Published Posts</span>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-3 col-md-6 col-xs-12">
			<rd-widget>
				<rd-widget-body>
					<i class="fa fa-hourglass-half"></i>
					<span class="large" ng-if="!tuLoading">{{totalUnPosts}}</span>
					<span class="fa fa-cog fa-spin" ng-if="tuLoading" title="loading..."></span>
					<span class="comment"> Un-Published Posts</span>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6" ng-repeat="posts in [publishedPosts, unPublishedPosts] track by $index"
		ng-include="'templates/posts.html'"></div>
	</div>

</div>
