<div class="row" ng-controller="PageDetailCtrl">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Page Detail</div>
            <div ng-show="!pageDetails">
                <rd-loading></rd-loading>
            </div>
            <div class="panel-body" ng-show="pageDetails">
                <div class="row" ng-if="pageDetails.name">
                    <div class="col-xs-4 bold">Name</div>
                    <div class="col-xs-8">{{pageDetails.name}}</div>
                </div>
                <div class="row" ng-if="pageDetails.category">
                    <div class="col-xs-4 bold">Category</div>
                    <div class="col-xs-8">{{pageDetails.category}}</div>
                </div>
                <div class="row" ng-if="pageDetails.likes">
                    <div class="col-xs-4 bold">Likes</div>
                    <div class="col-xs-8">
                        <a class="clickable" ng-click="showLikesModal()">
                            {{pageDetails.likes}}
                            <span class="fa fa-thumbs-o-up"></span>
                        </a>
                    </div>
                </div>
                <div class="row" ng-if="pageDetails.bio">
                    <div class="col-xs-4 bold">Bio</div>
                    <div class="col-xs-8">{{pageDetails.bio}}</div>
                </div>
                <div class="row" ng-if="pageDetails.about">
                    <div class="col-xs-4 bold">About</div>
                    <div class="col-xs-8">{{pageDetails.about}}</div>
                </div>
                <div class="row" ng-if="pageDetails.description">
                    <div class="col-xs-4 bold">Description</div>
                    <div class="col-xs-8">{{pageDetails.description}}</div>
                </div>
                <div class="row" ng-if="pageDetails.website">
                    <div class="col-xs-4 bold">Website</div>
                    <div class="col-xs-8">{{pageDetails.website}}</div>
                </div>
                <div class="row" ng-if="pageDetails.emails">
                    <div class="col-xs-4 bold">Email</div>
                    <div class="col-xs-8">{{pageDetails.emails[0]}}</div>
                </div>
                <div class="row" ng-if="pageDetails.location">
                    <div class="col-xs-4 bold">Location</div>
                    <div class="col-xs-8">
                        <div ng-if="pageDetails.location.street">{{pageDetails.location.street}}</div>
                        <div ng-if="pageDetails.location.zip">{{pageDetails.location.zip}}</div>
                        <div ng-if="pageDetails.location.city">{{pageDetails.location.city}}</div>
                        <div ng-if="pageDetails.location.country">{{pageDetails.location.country}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Insights
            </div>
            <div class="panel-body">
                <a ng-click="loadInsights()">
                    Detailed insights
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Albums
            </div>
            <div class="panel-body" ng-show="!albumData">
                <rd-loading></rd-loading>
            </div>
            <div class="panel-body" ng-show="albumData">
                <div style="text-align: center; margin: 10px 0" class="col-xs-3 small"
                     ng-repeat="album in albumData.albums">
                    <a target="_blank" ng-href="{{album.link}}">
                        <div>{{album.name}}</div>
                        <img ng-src="{{'https://graph.facebook.com/v2.5/' + album.id + '/picture?type=small&access_token=' + albumData.accessToken}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
