<div class="row" ng-controller="PageDetailCtrl">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header title="Published Posts">
      </rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header title="Unpublished Posts">
      </rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
