<div class="row" ng-controller="PostDetailCtrl">
    <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Post Details</div>
            <div ng-show="!postDetails">
                <rd-loading></rd-loading>
            </div>
            <div class="panel-body" ng-show="postDetails">
                <div class="row" ng-hide="postDetails.type === 'photo' && postDetails.name !== 'Timeline Photos'">
                    <div class="col-xs-3 bold">View in facebook</div>
                    <div class="col-xs-9">
                        <a ng-href="https://facebook.com/{{postDetails.id}}" target="_blank">open</a>
                    </div>
                </div>
                <div class="row" ng-if="postDetails.type">
                    <div class="col-xs-3 bold">Post Type</div>
                    <div class="col-xs-9">{{postDetails.type}}</div>
                </div>
                <div class="row" ng-if="postDetails.message">
                    <div class="col-xs-3 bold">Message</div>
                    <div class="col-xs-9">{{postDetails.message}}</div>
                </div>
                <div class="row" ng-if="postDetails.caption">
                    <div class="col-xs-3 bold">Caption</div>
                    <div class="col-xs-9">{{postDetails.caption}}</div>
                </div>
                <div class="row" ng-if="postDetails.description">
                    <div class="col-xs-3 bold">Description</div>
                    <div class="col-xs-9">{{postDetails.description}}</div>
                </div>
                <div class="row" ng-if="postDetails.name">
                    <div class="col-xs-3 bold">Name</div>
                    <div class="col-xs-9">{{postDetails.name}}</div>
                </div>
                <div class="row" ng-if="postDetails.picture">
                    <div class="col-xs-3 bold">Picture</div>
                    <div class="col-xs-9">
                        <img ng-src="{{postDetails.picture}}" alt="">
                    </div>
                </div>
                <div class="row" ng-if="postDetails.from">
                    <div class="col-xs-3 bold">From</div>
                    <div class="col-xs-9">{{postDetails.from.name}}</div>
                </div>
                <div class="row" ng-if="postDetails.link">
                    <div class="col-xs-3 bold">Link</div>
                    <div class="col-xs-9">
                        <a href="{{postDetails.link}}" target="_blank">{{postDetails.link}}</a>
                    </div>
                </div>
                <div class="row" ng-if="postDetails.source">
                    <div class="col-xs-3 bold">Video</div>
                    <div class="col-xs-9">
                        <video ng-src="{{trustSrc(postDetails.source)}}" width="300" controls></video>
                    </div>
                </div>

                <div class="row" ng-if="postDetails.shares">
                    <div class="col-xs-3 bold">Shares</div>
                    <div class="col-xs-9">{{postDetails.shares.count}}</div>
                </div>

                <div class="row" ng-if="!postDetails.is_published">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-9">
                        <button class="btn btn-xs btn-primary" ng-click="publish(postDetails.id)">Publish</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-9">
                        <button class="btn btn-xs btn-danger" ng-click="delete(postDetails.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Insights
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <a ng-click="showLikesModal()" ng-if="likesCount">
                            {{likesCount.summary.total_count}} Likes
                            <span class="fa fa-thumbs-o-up"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a ng-click="showCommentsModal()" ng-if="commentsCount">
                            {{commentsCount.summary.total_count}} Comments
                            <span class="fa fa-comment-o"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a ng-click="loadInsights()">
                            Detailed insights
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
