.clickable {
  cursor: pointer;
}

textarea {
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #f6f6f6;
  padding: 5px;
}

.form-row {
  margin: 5px 0;
}

.bold {
  font-weight: 700;
}

.text-wrap {
  word-wrap: break-word;
}

.widget {
  .widget-body {
    &.x-large {
      height: 400px;
      overflow-y: auto;
    }
  }
}

.row {
  &.even {
    background-color: lightgrey;
    vertical-align: middle;
  }

  &.header {
    height: 70px;

    .meta {
      .page {
        font-size: 20px;
      }

      .breadcrumb-links {
        font-size: 14px;
      }
    }

    .user {
      > .item {
        img {
          width: 45px;
          height: 45px;
          margin-top: 15px;
          border-radius: 5px;
        }
      }
    }
  }
}

.carousel-inner {
  .item {
    background-color: black;

    img {
      margin: auto;
      height: 500px;
    }
  }
}
